/**
 * Variables
 */

$primary:       #FBB12C !default;
$secondary:     #403E56 !default;

$danger: #ff7061;
$info: #36bcd4;
$success: #78cc8a;

$frama:         #6a5687 !default;
$soft:          #eb7239;

@import "bootstrap";
@import "timeline";

@import "partials/presentation";
@import "partials/header";
@import "partials/quote";
@import "partials/footer";
@import "partials/donation";

@import "partials/funding";
@import "partials/story";
@import "partials/support";
@import "partials/share-follow";
@import "partials/news";

:root {
  --color-main-text: #222;
  --color-main-background: #fff;
  --color-main-background-translucent: rgba(var(--color-main-background), .97);

  --color-main-background-dark: darken(var(--color-main-background), 7%);
  --color-main-background-darker: darken(var(--color-main-background), 14%);

  --color-primary: $primary;
  --color-primary-text: #fff;

  --color-primary-text-dark: darken(var(--color-primary-text), 7%);
  --color-primary-element: var(--color-primary);
  --color-primary-element-light: lighten(var(--color-primary-element), 15%);

  --color-error: #e9322d;
  --color-warning: #eca700;
  --color-success: #46ba61;
}

/* latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: local('Muli Light'), local('Muli-Light'), url('../fonts/Muli-Light.ttf') format('truetype');
  // unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@import "../fonts/Source-Sans-Pro/Source-Sans-Pro";

span.frama { color: $frama; } // Why ?
span.soft { color: $soft; } // $root.html.soft = <b class="violet"></b><b class="orange"></b>
.violet { color: $frama; }
.orange { color: $soft; }

p {
  margin-bottom: 15px;
  font-size: 18px;
}


#app p:last-child {
  margin: 0;
}

/* Sections background */
body {
  .container {
    background: #fff;
    /* margin-bottom: 30px; */
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.how-it-works, .quote {
  &, .container {
    background: lighten($primary, 10%);
    color: #454542;
  }

  span.text-center {
    display: block;
  }
}

.contribute {
  .list-group-item {
    p {
      font-size: 0.9em;
    }
  }
}

.faq h2 {
  margin: 40px 0px;
}

.thumbnail img {
  margin:0;
}

.btn {
  border-radius: 0;
}
