.contact {
  &, .container, a {
    background: darken($secondary, 13%);
    color: #eee;
    margin-bottom: 0;
  }
}

.credits {
  margin: 0;
  padding: 5px 0;
  background: darken($secondary, 13%);
  color: #fff;

  p {
    text-align: center;
    font-size: small;
  }
}
