#news, #faq, #hall-of-fame, #thank-you {
  background: linear-gradient(to bottom, #fff, #ffddbe); /* #e7e7fa */

  main {
    .container {
      background: transparent;

      a:not(.btn) {
        color: #403E56;
        background: linear-gradient(to top, #fcc86b 2px, transparent 2px);

        &:hover,
        &:focus {
          color:  #212529;
          background: #ffddbe;
          text-decoration: none;
        }
      }

      h4 {
        margin-top: 1.5rem;
      }
    }

    #page-header,
    .bloc {
      padding: 30px;
    }

    #page-header { padding: 30px 0;}

    .bloc {
      margin-bottom: 40px;
      background: #fff;
    }

    ul:not(.list-inline) {
      list-style: url("../img/bullet-o.png");
      padding-left:20px;
    }

    #page-header {
      margin-top: 20px;
    }
  }
}

#news {
  .article {
    background: #fff;
    margin-bottom: 40px;
  }

  .content-wrapper {
    padding: 30px;

    img {
      margin: 15px auto;
    }
  }

  article { margin-top: 20px; }
}

#faq {
  .content-wrapper {
    margin-bottom: 40px;
  }

  .list-group h2 {
    &:after {
      content: " ";
      border-bottom: 5px solid $primary;
      display: block;
      max-width: 80px;
      margin: 10px 0 20px;
    }
  }

  .list-group-item {
    background: #fff;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid $primary;
    border-top: 1px solid $primary;
    margin: 0;

    &:nth-child(odd) {
      border-image: linear-gradient(to right, #fff 40%, $primary) 1;
    }
    &:nth-child(even) {
      border-image: linear-gradient(to right, #fff 20%, $primary) 1;
    }

    &.active {
      color: inherit;
      background: #fff8f1;
      border: none;
      border-left: 3px solid $primary;
      padding-left: calc(1.25rem - 3px);
    }

    &:first-child {
      border-top: none;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
#hall-of-fame {
  main {
    h3 {
      &:after {
        content: " ";
        border-bottom: 5px solid $primary;
        display: block;
        max-width: 80px;
        margin: 10px 0 20px;
      }
    }

    .bloc {
      margin-left: 0;

      li {
        margin-right: 10px;

        &:nth-of-type(n+2):before {
          content:"⯌";
          font-family: "Bitstream Vera Sans", "DejaVu Sans", "Arev Sans", Freesans, "Helvetica", "Arial", "Dingbats", "Zapf Dingbats", "ITC Zapf Dingbats", "Webdings", "Lucida Sans", "Lucida Sans Unicode", "Apple Symbol", "Wingdings", "Wingdings 2", "Wingdings 3", sans-serif;
          margin-right: 7px;
          color: #999;
        }
      }
    }

    .bloc:nth-of-type(1) ul {
      font-size: larger;

      li:nth-of-type(n+2):before {
        color: $primary;
      }

      li:nth-of-type(2n+3):before {
        color: $danger;
      }

      li:nth-of-type(3n+4):before {
        color: $info;
      }
    }

    .bloc:nth-of-type(2) ul {
      li:nth-of-type(2n+2):before {
        color: $primary;
      }
    }

    .bloc:nth-of-type(3) ul {
      font-size: smaller;
    }
  }
}
