#story, #allocation, #timeline {
  padding: 30px;

  h3 {
    margin-top: 30px;

    &:after {
      content: " ";
      border-bottom: 5px solid $primary;
      display: block;
      max-width: 80px;
      margin: 10px 0 20px;
    }
  }

  p a {
    color: #403E56;
    background: linear-gradient(to top, #fcc86b 2px, #fff 2px);

    &:hover,
    &:focus {
      color:  #212529;
      background: #ffddbe;
      text-decoration: none;
    }
  }
}

#story {
  .rounded-circle {
    border: 1px solid #ccc;
    background: #fff;
    max-width: 196px;
  }

  figure {
    margin: 20px auto;
    background: #F7F7FD; /* linear-gradient(to bottom, #F7F7FD, #e7e7fa); */
    padding: 10px;
    padding-bottom: 15px;

    .figure-caption {
      color: #454542;
    }
  }
}

#step {
  h4 {
    color: #413f43;
    margin-bottom: 0;
    margin-top: 1.3rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  h5 {
    line-height: 2.5rem;
  }

  > div {
    .card {
      border: 2px solid transparent;
      border-image: linear-gradient(to right bottom, #fff 85%, $primary) 1;
      font-family: 'Source Sans Pro';
      background: repeating-linear-gradient(85deg,
        $primary, $primary calc(50% - 1px), #fff 50%, #fff 100%);
      margin: 20px auto;
      min-height: 290px;

      ul {
        list-style: url("../img/bullet.png");
        margin-top: 1rem;
        padding-left:20px;
        margin-left: auto;
        margin-right: auto;
        max-width: 220px;
      }
    }

    .col-md-6 > img {
      padding: 15px 20px;
    }

    &:nth-child(odd) {
      .card {
        border-image: linear-gradient(to left bottom, #fff 85%, $primary) 1;
        background: repeating-linear-gradient(-85deg,
          $primary, $primary calc(50% - 1px), #fff 50%, #fff 100%);

        h5 {
          text-align: right;
        }
      }
    }

    @media (max-width: 768px) {
      .card {
        border: 2px solid transparent;
        border-image: linear-gradient(to top, #fff 85%, $primary) 1 !important;
        margin: 20px auto;
        background: #fff !important;

        .row > div:last-child {
          background: $primary;
        }

        h5 {
          text-align: left !important;
        }
      }
    }

    /* Colored cards  */
    &:nth-of-type(1) {
      .card {
        border-image: linear-gradient(to left bottom, #fff 85%, $danger) 1;
        background: repeating-linear-gradient(-85deg,
          $danger, $danger calc(50% - 1px), #fff 50%, #fff 100%);

        @media (max-width: 768px) {
          background: #fff !important;
          border-image: linear-gradient(to top, #fff 85%, $danger) 1 !important;
          .row > div:last-child { background: $danger; }
        }
      }
    }

    &:nth-of-type(3) {
      .card {
        border-image: linear-gradient(to left bottom, #fff 85%, $success) 1;
        background: repeating-linear-gradient(-85deg,
          $success, $success calc(50% - 1px), #fff 50%, #fff 100%);

        @media (max-width: 768px) {
          background: #fff !important;
          border-image: linear-gradient(to top, #fff 85%, $success) 1 !important;
          .row > div:last-child { background: $success; }
        }
      }
    }

    &:nth-of-type(4) {
      .card {
        border-image: linear-gradient(to right bottom, #fff 85%, $info) 1;
        background: repeating-linear-gradient(85deg,
          $info, $info calc(50% - 1px), #fff 50%, #fff 100%);

        @media (max-width: 768px) {
          background: #fff !important;
          border-image: linear-gradient(to top, #fff 85%, $info) 1 !important;
          .row > div:last-child { background: $info; }
        }
      }
    }
  }
}

#team {
  .card {
    margin-bottom: 30px;
    border-radius: 0;

    img {
      max-width: 128px;
      margin-right: 20px;
    }
  }

  .card-body > .card-body {
    padding: 10px;
  }
}

#allocation {
  padding-top: 0;

  .card {
    border: 3px solid transparent;
    border-image: linear-gradient(to left bottom, $danger, #fff 15%, #fff 85%, $danger) 1;
    margin: 30px auto;
    background: linear-gradient(to bottom right, #fff, #ffeeec);

    h4:after {
      content: " ";
      border-bottom: 5px solid $danger;
      display: block;
      max-width: 60px;
      margin: 10px 0 20px;
    }

    &:nth-of-type(2) {
      border-image: linear-gradient(to left bottom, $primary, #fff 15%, #fff 85%, $primary) 1;
      background: linear-gradient(to bottom right, #fff, #fff8f1);

      h4:after {
        border-bottom: 5px solid $primary;
      }
    }

    &:nth-of-type(3) {
      border-image: linear-gradient(to left bottom, $success, #fff 15%, #fff 85%, $success) 1;
      background: linear-gradient(to bottom right, #fff, #eff9f1);

      h4:after {
        border-bottom: 5px solid $success;
      }
    }
  }

  .donut > div,
  .legend > ul {
    margin: 0 auto;
    display: inline-block;
  }
}

