<template>
  <div>
    <main>
      <section class="presentation d-none d-sm-flex">
        <b-container>
          <b-row align-v="center">
            <b-col md="4" offset-md="1">
              <h2 class="text-secondary" v-html="$t('home.intro2.title')"></h2>
            </b-col>
          </b-row>
        </b-container>
      </section>

      <section>
        <b-container>
          <b-row>
            <!-- Right column -->
            <b-col id="funding" lg="5" order-lg="12">
              <p>
                <span id="donations" class="h2" v-text="EUR(progress.total)"></span><br>
                <span class="text-muted" v-html="`${$t('home.funding.goal')} ${EUR(progress.max)}`"></span>
              </p>

              <div v-if="activeStep === 0">
                <b-progress :max="100" animated variant="danger" class="h2">
                  <b-progress-bar :value="Math.round(progress.total * 100 / steps[0])">
                    <b>{{ Math.round(progress.total * 100 / steps[0]) }}%</b>
                  </b-progress-bar>
                </b-progress>
                <div class="progress-meter">
                  <div class="meter meter-right" style="width: 100%;">
                    <span class="meter-text">
                      {{ EUR(steps[0]) }}<br><span v-html="$t('home.funding.step-on', {step: 1, max: steps.length})"></span>
                    </span>
                  </div>
                </div>
              </div>
              <div v-else-if="activeStep === 1">
                <b-progress :max="100" animated variant="primary" class="h2">
                  <b-progress-bar :value="Math.round(this.progress.total * 100 / steps[1])">
                    <b>{{ Math.round(this.progress.total * 100 / steps[1]) }}%</b>
                  </b-progress-bar>
                </b-progress>
                <div class="progress-meter">
                  <div class="meter meter-right" style="width: 57%;">
                    <span class="meter-text">
                      {{ EUR(steps[1]) }}<br><span v-html="$t('home.funding.step-on', {step: 2, max: steps.length})"></span>
                    </span></div>
                  <div class="meter meter-right" style="width: 43%;">
                    <span class="meter-text"></span>
                  </div>
                </div>
              </div>
              <div v-else>
                <b-progress :max="100" animated
                  :variant="progress.total < steps[2] ? 'success': 'info'" class="h2">
                  <b-progress-bar :value="Math.round(this.progress.total * 100 / steps[2])">
                    <b>{{ Math.round(this.progress.total * 100 / steps[2]) }}%</b>
                  </b-progress-bar>
                </b-progress>
                <div class="progress-meter">
                  <div class="meter meter-right" style="width: 30%;"><span class="meter-text">{{ EUR(steps[2]) }}</span></div>
                  <div class="meter meter-right" style="width: 30%;"><span class="meter-text"></span></div>
                  <div class="meter meter-right" style="width: 40%;"><span class="meter-text"></span></div>
                </div>
              </div>

              <b-row>
                <p class="col-sm-5">
                  <span id="donators" class="h3" v-html="count"></span><br>
                  <span class="text-muted" v-html="$t('home.funding.donators')"></span>
                </p>
                <p class="col-sm-7">
                  <span v-if="days > 1" id="days" class="h3" v-html="`${days} ${$t('home.funding.days')}`"></span>
                  <span v-else id="days" class="h3" v-html="`${hours} ${$t('home.funding.hours')}`"></span>
                  <br>
                  <span class="text-muted" v-html="$t('home.funding.deadline')"></span>
                </p>
              </b-row>

              <p>
                <b-button block size="lg" variant="primary"
                  v-b-modal.support
                  target="_blank" rel="noopener noreferrer"
                  v-html="$t('form.step1.title')"
                ></b-button>
              </p>

              <hr>
              <!-- Share & follow -->
              <h3 v-html="$t('home.funding.share')"></h3>
              <ShareAndFollow />

              <hr>

              <!-- Initiator => #team -->
              <div class="initiator">
                <h3 v-html="$t('home.funding.who')"></h3>
                <b-card>
                  <b-card-body>
                    <img
                      :src="`${$root['/']}img/biglogo-notxt.png`"
                      class="rounded-circle pull-left"
                    />

                    <ul class="list-unstyled">
                      <li>
                        <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                        <span v-html="$t('home.funding.asso')"></span>
                      </li>
                      <li>
                        <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>
                        <span v-html="$t('home.funding.where')"></span>
                      </li>
                      <li>
                        <i class="fa fa-fw fa-calendar-check-o" aria-hidden="true"></i>
                        <span v-html="$t('home.funding.when-from')"></span>
                        <span>{{ start | moment('ll') }}</span>
                        <span v-html="$t('home.funding.when-to')"></span>
                        <span>{{ end | moment('ll') }}</span>
                      </li>
                    </ul>
                    <p class="text-center">
                      <a href="#team" class="btn btn-sm btn-outline-secondary"
                        v-html="$t('home.funding.more')"></a>
                    </p>
                  </b-card-body>
                </b-card>
              </div>

              <!-- Rewards -->
              <h3 v-html="$t('home.funding.rewards.title')"></h3>
              <div class="rewards">
                <b-card
                  v-for="(reward, j) in rewards" :key="j">
                  <b-card-body>
                    <h4>
                      <span v-html="$t(`home.funding.rewards['d${reward}'].title`)"></span>
                      <br>
                      <span class="h5"
                        v-html="$t(`home.funding.rewards['d${reward}'].subtitle`)"
                      ></span>
                    </h4>

                    <p v-html="$t(`home.funding.rewards['d${reward}'].p`)"></p>
                    <p class="text-center">
                      <img :src="`${$root['/']}img/rewards/${j}.svg`" alt="">
                    </p>
                    <p
                      @click="$root.$emit('bv::toggle::collapse', `donators-${reward}`)"
                      >
                      <span v-html="$t('home.funding.rewards.donators')"></span>
                      <b-badge pill variant="light"
                        :class="donators[`rwd-${reward}`].length > 0 ? 'dropdown-toggle': ''"
                        v-text="donators[`rwd-${reward}`].length" >
                      </b-badge>
                    </p>
                    <b-collapse :id="`donators-${reward}`"
                      v-if="donators[`rwd-${reward}`].length > 0">
                      <b-list-group>
                        <b-list-group-item
                          href="#"
                          class="flex-column align-items-start"
                          v-for="(donator, index) in donators[`rwd-${reward}`]"
                          :key="index">
                          <div class="w-100 justify-content-between">
                            <div class="donator-date">
                              <small>{{ donator.date | moment('from', 'now') }}</small>
                            </div>
                            <span v-if="donator.nickname !== 'Anonymous'"
                              class="rounded-circle letter-avatar pull-left"
                              :style="`background: ${['#ffd4d0', '#ffddbe', '#d7f0dc', '#b8efff'][Math.floor(Math.random() * 4)]}`"
                              v-text="donator.nickname.replace(/[^a-zA-Z0-9]/g, '').substr(0, 1).toUpperCase()"
                            ></span>
                            <span v-else
                              class="rounded-circle letter-avatar pull-left"
                              aria-hidden="true"
                            >
                              <i class="fa fa-user"></i>
                            </span>
                            <h5 class="pull-left">
                              <span class="don">
                                {{ EUR(donator.don) }}
                              </span><br>

                              <span v-if="donator.nickname !== 'Anonymous'" class="nickname">
                                {{ donator.nickname }}
                              </span>
                              <span v-else
                                v-html="$t('home.funding.anonymous')"
                                class="nickname"
                              ></span>
                            </h5>

                          </div>
                        </b-list-group-item>
                      </b-list-group>
                    </b-collapse>
                    <p class="text-center">
                      <b-button block variant="primary"
                        v-b-modal.support
                        @click="form.don = reward; form.other1 = reward"
                        v-html="$t('form.step1.title')"
                      ></b-button>
                    </p>
                  </b-card-body>
                </b-card>

                <b-card>
                  <b-card-body>
                    <h4 v-html="$t('home.funding.rewards.free')"></h4>
                    <label for="other1" v-html="$t('form.step1.other')" class="sr-only"></label>
                    <b-input-group size="lg" prepend="€" variant="outline-primary">
                      <b-form-input type="number" id="other1"
                        :placeholder="`${$t('form.step1.other')} (${$t('form.step1.oneshot_ex')})`"
                        v-model.number="form.other1"
                        @change="check('other1')"
                        step="any" min="1" max="100000"
                        pattern="/^\d+([\.\,]\d{1,2})?$/"
                        >
                      </b-form-input>
                    </b-input-group>
                    <p class="row text-center">
                      <b-button block variant="primary"
                        v-b-modal.support
                        v-html="$t('form.step1.title')"
                      ></b-button>
                    </p>
                  </b-card-body>
                </b-card>

                <h3 v-html="$t('home.funding.sponsors.title')"></h3>
                <p v-html="$t('home.funding.sponsors.intro')"></p>
                <b-card
                  v-for="sponsor in [1000, 2500]" :key="sponsor">
                  <b-card-body>
                    <h4 v-html="$t(`home.funding.sponsors['d${sponsor}'].title`)"></h4>
                    <p v-html="$t(`home.funding.sponsors['d${sponsor}'].p`)"></p>
                    <p class="text-center">
                      <b-button block variant="primary"
                        v-b-modal.support
                        @click="form.don = sponsor"
                        v-html="$t('form.step1.title')"
                      ></b-button>
                    </p>
                  </b-card-body>
                </b-card>
              </div>
            </b-col>

            <!-- Main column -->
            <!-- Story -->
            <b-col id="story" lg="7" order-lg="1">
              <project />

              <div id="step">
                <h3 v-html="$t(`home.steps.title`)"></h3>
                <p v-html="$t(`home.steps.intro`)"></p>
                <div v-for="(file, index) in ['minimaliste', 'federe', 'ideal', 'version-1']"
                  :key="index">
                  <b-card
                    no-body class="overflow-hidden">
                    <b-row no-gutters>
                      <b-col md="6" :order-md="(index % 2) * 12">
                        <h4 class="text-center font-weight-bolder">
                          <span v-html="$t(`home.steps.${file}.title`)"></span><br>
                          <i v-if="index < 3"
                            v-html="EUR(steps[index])"
                          ></i>
                        </h4>
                        <b-card-img :src="`${$root['/']}img/0${index + 1}-palier-mobilizon-${file}.png`" class="rounded-0"></b-card-img>
                      </b-col>
                      <b-col md="6">
                        <b-card-body>
                          <b-card-text>
                            <h5>
                              <img :src="`${$root['/']}img/logo_mbz.svg`" height="35" alt="Mobilizon"><br>
                              <span
                                class="font-weight-bolder text-secondary"
                                v-html="$t(`home.steps.${file}.subtitle`)"
                              ></span>
                            </h5>
                            <ul>
                              <li
                                v-for="n in 4"
                                v-html="$t(`home.steps.${file}.ul[${n-1}]`)"
                              ></li>
                            </ul>
                          </b-card-text>
                        </b-card-body>
                      </b-col>
                    </b-row>
                  </b-card>
                </div>
                <p class="text-italic text-center">
                  <router-link :to="`/${$t('lang')}/news#newsletter15-05-2019`"
                    v-html="$t(`home.steps.understand`)"
                  ></router-link>
                </p>
              </div>

              <team />
            </b-col>
          </b-row>
        </b-container>
      </section>

      <section class="quote">
        <b-container>
          <b-row>
            <b-col>
              <blockquote class="blockquote text-right">
                <span v-html="$t('home.quote.text')"></span>
                <footer class="blockquote-footer"><a :href="$t('home.quote.blog.link')" v-html="$t('home.quote.blog.text')"></a></footer>
              </blockquote>
            </b-col>
          </b-row>
        </b-container>
      </section>

      <allocation :steps="steps" :active="activeStep" />
      <timeline />
    </main>

    <b-modal id="support" :visible="$root.hash === 'support'"
      :title="$t('form.step1.title')"
      title-tag="h2"
      hide-footer
      >
      <form role="form" id="form_don" action="#"
        class="needs-validation"
        @submit="payRedirection">
        <b-row id="howmuch"
          align-v="center" align-h="center">
          <b-col md="10">
            <label for="other1" v-html="$t('form.step1.other')" class="sr-only"></label>
            <b-input-group size="lg" prepend="€" variant="outline-primary">
              <b-form-input type="number" id="other1"
                :placeholder="`${$t('form.step1.other')} (${$t('form.step1.oneshot_ex')})`"
                v-model.number="form.other1"
                @change="check('other1')"
                step="any" min="1" max="100000"
                pattern="/^\d+([\.\,]\d{1,2})?$/"
              ></b-form-input>
            </b-input-group>

            <!-- Email -->
            <div :class="'email' + form.ok.email">
              <b-input-group variant="outline-primary">
                <div slot="prepend" class="input-group-text" aria-hidden="true">
                  <i class="fa fa-envelope-o fa-fw fa-lg" aria-hidden="true"></i>
                </div>
                <b-form-input name="email" id="email" ref="email"
                  type="email"
                  v-model="form.email" required
                  @focusout="check('email')"
                  :placeholder="$t('form.step2.email')"
                  :title="form.society ? $t('form.step2.society_email_ex') : $t('form.step2.email_ex')"
                ></b-form-input>
              </b-input-group>
            </div>

            <!-- Nickname -->
            <div :class="'nickname' + form.ok.nickname">
              <b-input-group variant="outline-primary">
                <div slot="prepend" class="input-group-text" aria-hidden="true">
                  <i v-if="form.state.anonymous"
                    class="fa fa-user-secret fa-fw fa-lg"
                    aria-hidden="true"></i>
                  <i v-else
                    class="fa fa-user fa-fw fa-lg"
                    aria-hidden="true"></i>
                </div>

                <b-form-input
                  :readonly="form.state.anonymous"
                  name="nickname" id="nickname" ref="nickname"
                  v-model="form.nickname" required
                  @focusout="check('nickname')"
                  :placeholder="$t('form.step2.nickname')"
                  :title="$t('form.step2.nickname_ex')"
                ></b-form-input>
              </b-input-group>
            </div>
            <!-- Newsletter ? -->
            <div>
              <b-form-checkbox
                v-model="form.state.newsletter"
                name="newsletter"
                switch
                class="text-muted"
              >
                <span v-html="$t('form.step1.newsletter')"></span>
              </b-form-checkbox>
            </div>
            <!-- Anonymous ? -->
            <b-form-checkbox
              v-model="form.state.anonymous"
              name="anonymous"
              switch
              @change="form.nickname = form.state.anonymous ? '' : 'Anonymous'"
              class="text-muted"
            >
              <span v-html="$t('form.step1.anonymous')"></span>
            </b-form-checkbox>
            <!-- Defisc ? -->
            <div>
              <b-form-checkbox
                v-model="form.state.defisc"
                name="defisc"
                switch
                class="text-muted"
              >
                <span v-html="$t('form.step1.defisc')"></span>
              </b-form-checkbox>
            </div>
          </b-col>
        </b-row>

        <!-- Defisc form -->
        <div v-show="form.state.defisc"
          id="whoAreYou"
          class="card card-body">
          <p v-html="$t('form.step2.intro')"></p>
          <!-- Individual / Society -->
          <b-form inline>
            <b-form-group :label="$t('form.step2.type')">
              <b-form-radio-group
                id="typeDonateur"
                v-model="form.society"
                :options="[{ html: `<i class='fa fa-fw fa-lg fa-id-card-o' aria-hidden='true'></i><span>${$t('form.step2.part')}</span>`, value: false }, { html: `<i class='fa fa-fw fa-lg fa-institution' aria-hidden='true'></i><span>${$t('form.step2.corp')}</span>`, value: true }]"
                buttons
                size="sm"
                button-variant="link"
                class="text-uppercase"
                name="statut"
              ></b-form-radio-group>
            </b-form-group>
          </b-form>

          <b-row align-v="center" align-h="center">
            <!-- Lastname -->
            <b-col sm="6"
              v-if="!form.society" :class="'lastname' + form.ok.lastname">
              <b-input-group variant="outline-primary">
                <div slot="prepend" class="input-group-text" aria-hidden="true">
                  <i class="fa fa-id-card-o fa-fw fa-lg" aria-hidden="true"></i>
                </div>
                <b-form-input name="lastname" id="lastname" ref="lastname"
                  v-model="form.lastname" required
                  @focusout="check('lastname')"
                  :placeholder="$t('form.step2.lastname')"
                  :title="$t('form.step2.lastname_ex')"
                ></b-form-input>
              </b-input-group>
            </b-col>
            <!-- Society -->
            <b-col sm="12"
              v-else :class="'society' + form.ok.lastname">
              <b-input-group variant="outline-primary">
                <div slot="prepend" class="input-group-text" aria-hidden="true">
                  <i class="fa fa-institution fa-fw fa-lg" aria-hidden="true"></i>
                </div>
                <b-form-input name="lastname" id="lastname" ref="lastname"
                  v-model="form.lastname" required
                  @focusout="check('lastname')"
                  :placeholder="$t('form.step2.society')"
                  :title="$t('form.step2.society_ex')"
                ></b-form-input>
              </b-input-group>
            </b-col>
            <!-- Firstname -->
            <b-col sm="6"
              v-show="!form.society"
              :class="'firstname' + form.ok.firstname">
              <b-input-group variant="outline-primary">
                <b-form-input name="firstname" id="firstname" ref="firstname"
                  v-model="form.firstname" required
                  @focusout="check('firstname')"
                  :placeholder="$t('form.step2.firstname')"
                  :title="$t('form.step2.firstname_ex')"
                ></b-form-input>
              </b-input-group>
            </b-col>
          </b-row>

          <b-row align-v="center" align-h="center">
            <!-- Address -->
            <b-col sm="12"
              :class="'address1' + form.ok.address1">
              <b-input-group variant="outline-primary">
                <div slot="prepend" class="input-group-text" aria-hidden="true">
                  <i class="fa fa-map-marker fa-fw fa-lg" aria-hidden="true"></i>
                </div>
                <b-form-input name="address1" id="address1" ref="address1"
                  v-model="form.address1" required
                  @focusout="check('address1')"
                  :placeholder="$t('form.step2.address1')"
                  :title="$t('form.step2.address1_ex')"
                ></b-form-input>
              </b-input-group>
            </b-col>
            <b-col sm="12"
              class="address2">
              <b-input-group variant="outline-primary">
                <div slot="prepend" class="input-group-text" aria-hidden="true">
                  <i class="fa fa-map-marker fa-fw fa-lg" aria-hidden="true"></i>
                </div>
                <b-form-input name="address2" id="address2" ref="address2"
                  v-model="form.address2"
                  @focusout="check('address2')"
                  :placeholder="$t('form.step2.address2')"
                  :title="$t('form.step2.address2_ex')"
                ></b-form-input>
              </b-input-group>
            </b-col>

            <!-- Zip -->
            <b-col sm="6"
              :class="'zip' + form.ok.zip">
              <b-input-group variant="outline-primary">
                <div slot="prepend" class="input-group-text" aria-hidden="true">
                  <i class="fa fa-map-marker fa-fw fa-lg" aria-hidden="true"></i>
                </div>
                <b-form-input name="zip" id="zip" ref="zip"
                  v-model="form.zip" required
                  @focusout="check('zip')"
                  :placeholder="$t('form.step2.zip')"
                  :title="$t('form.step2.zip_ex')"
                ></b-form-input>
              </b-input-group>
            </b-col>
            <!-- City -->
            <b-col sm="6"
              :class="'city' + form.ok.city">
              <b-input-group variant="outline-primary">
                <b-form-input name="city" id="city" ref="city"
                  v-model="form.city" required
                  @focusout="check('city')"
                  :placeholder="$t('form.step2.city')"
                  :title="$t('form.step2.city_ex')"
                ></b-form-input>
              </b-input-group>
            </b-col>

            <!-- Country -->
            <b-col sm="12"
              class="country">
              <b-input-group variant="outline-primary">
                <div slot="prepend" class="input-group-text" aria-hidden="true">
                  <i class="fa fa-map-marker fa-fw fa-lg" aria-hidden="true"></i>
                </div>
                <b-form-select id="country" name="country" ref="country"
                  v-model="form.country" required
                  class="custom-select"
                >
                  <option v-for="country, key in $root.country"
                    :value="key">
                    {{ country }}
                  </option>
                </b-form-select>
              </b-input-group>
            </b-col>
          </b-row>
          <input type="hidden" name="montant" id="montant"
            value="10" v-model="form.don">

          <!-- French defisc -->
          <div id="defiscalise">
            <p
             v-if="/(FR|GP|GF|RE|MQ|YT|NC|PF|PM|WF)/.test(form.country)"
             v-html="$t('form.step3.defisc_text', { percent: `${form.defisc} %`, amount: `<b>${EUR(form.don)}</b>`, defisc: `<b>${EUR(+(Math.round(form.don - form.don * form.defisc / 100 + 'e+2') + 'e-2'))}</b>` })"
            ></p>
          </div>
        </div>

        <!-- Payment mode -->
        <b-row id="payment" align-v="center">
          <b-col sm="5" offset-sm="1">
            <label :class="'btn btn-default' + (form.pay_mode === 'cb' ? ' active' : '')"
              id="pay_cb"
              @click="form.pay_mode='cb'">
              <input type="radio" id="pay_mode_cb" name="pay_mode"
                autocomplete="off" class="sr-only"
                v-model="form.pay_mode" value="cb">
              <i class="fa fa-lg fa-credit-card" aria-hidden="true"></i><br>
              <span v-html="$t('form.step3.cb')"></span>
            </label>
          </b-col>
          <b-col sm="5">
            <label :class="'btn btn-default' + (form.pay_mode === 'pp' ? ' active' : '')"
              id="pay_pp"
              @click="form.pay_mode='pp'">
              <input type="radio" id="pay_mode_pp" name="pay_mode"
                autocomplete="off" class="sr-only"
                v-model="form.pay_mode" value="pp">
              <i class="fa fa-lg fa-paypal" aria-hidden="true"></i><br>
              <span v-html="$t('form.step3.pp')"></span>
            </label>
          </b-col>
        </b-row>

        <!-- Donate -->
        <p class="text-center">
          <button id="btnVerif" name="submit" value=""
            class="btn btn-lg">
            <span style="font-size: 22px;" v-html="$t('form.step3.i_give')"></span><br>
            <span v-if="!isNaN(form.don)">{{ EUR(form.don) }}</span>
            <span v-html="$t('form.step3.now')"></span>
          </button>
        </p>
      </form>
    </b-modal>
  </div>
</template>

<script>
import ShareAndFollow from '../partials/ShareAndFollow.vue';

import Allocation from './sections/Allocation.vue';
import Project from './sections/Project.vue';
import Team from './sections/Team.vue';
import Timeline from './sections/Timeline.vue';

export default {
  components: {
    ShareAndFollow,
    Allocation,
    Project,
    Team,
    Timeline,
  },
  created() {
    if (!window.vuefsPrerender) {
      fetch(`https://soutenir.framasoft.org/dons/2019.json`, {cache: 'force-cache'})
        .then(response => response.json())
        .then((data) => {
          this.list = data.list;
          this.updateData();
        }).catch((err) => {
          console.error('Unable to load donations', err);
        });
    }
  },
  data() {
    // Init count and donators
    const rewards = [1, 25, 42, 88, 130];
    const donators = {};
    for (let j = 0; j < rewards.length; j += 1) {
      donators[`rwd-${rewards[j]}`] = [];
    }

    return {
      start: '2019-05-14',
      end: '2019-07-10',
      days: 0,
      hours: 0,
      progress: {
        total: 0,
        max: 50000,
      },
      steps: [20000, 35000, 50000],
      activeStep: 0,
      list: [],
      rewards,
      donators,
      count: 0,
      form: {
        don: 10,
        monthly: false,
        otherM: '',
        other1: '',
        society: false,
        defisc: 66,
        nickname: '',
        lastname: '',
        firstname: '',
        email: '',
        address1: '',
        address2: '',
        zip: '',
        city: '',
        country: 'FR',
        pay_mode: 'cb',
        pay_send: '',
        ok: {
          don: '',
          nickname: '',
          lastname: '',
          firstname: '',
          email: '',
          address1: '',
          zip: '',
          city: '',
        },
        state: {
          anonymous: false,
          defisc: false,
          newsletter: true,
        }
      },
    }
  },
  methods: {
    updateData() {
      this.days = Math.round(((new Date(this.end)).getTime() - (new Date()).getTime()) / (1000 * 60 * 60 * 24));
      this.hours = Math.round(((new Date(this.end)).getTime() - (new Date()).getTime()) / (1000 * 60 * 60));
      // Fill donators
      for (let i = 0; i < this.list.length; i += 1) {
        if (!this.list[i].monthly
          && new Date(this.start) < new Date(this.list[i].date)) {

          if (this.list[i].campaign === 'mobilizon') {
            this.count += 1;
            this.progress.total += this.list[i].don;

            for (let j = 0; j < this.rewards.length; j += 1) {
              if (this.list[i].don >= this.rewards[j]) {
                if (j != this.rewards.length - 1) {
                  if (this.list[i].don < this.rewards[j + 1]) {
                    this.donators[`rwd-${this.rewards[j]}`].push(this.list[i]);
                  }
                } else {
                  this.donators[`rwd-${this.rewards[j]}`].push(this.list[i]);
                }
              }
            }
          }
        }
      }

      for (let i = this.steps.length; i > 0; i -= 1) {
        if (this.progress.total > this.steps[i]) {
          this.activeStep = i;
        }
      }
    },
    EUR(number) {
      return new Intl
        .NumberFormat(this.$i18n.locale, { style: 'currency', currency: 'EUR', minimumSignificantDigits: 1 })
        .format(Number.parseFloat(number).toFixed(2));
    },
    check(input) {
      if (!this.form.state.defisc) {
        // Fill requiered fields for DB
        this.form.lastname = ' ';
        this.form.firstname = ' ';
        this.form.address1 = ' ';
        this.form.city = ' ';
        this.form.zip = ' ';
      }
      switch (input) {
        case 'other1':
          if (!isNaN(this.form.other1)) {
            this.form.other1 = Number.parseFloat(this.form.other1).toFixed(2);
            this.form.don = this.form.other1;
          }
          break;

        // no-default
      }
    },
    addFormField(form, key, value) {
      const hiddenField = document.createElement('input');
      Object.assign(hiddenField, {
        'type': 'hidden',
        'name': key,
        'value': value
      });
      form.appendChild(hiddenField);
    },
    payRedirection(e) {
      let custom = [
        'campaign=mobilizon',
        `nickname=${encodeURIComponent(this.form.nickname)}`,
        `anonymous=${+this.form.state.anonymous}`,
        `defisc=${+this.form.state.defisc}`,
        `newsletter=${+this.form.state.newsletter}`,
      ];
      switch(this.form.pay_mode) {
        // TPE Monetico / CM-CIC
        case 'cb':
          const form = document.createElement("form");
          form.setAttribute('method', 'POST');
          form.setAttribute('action', `https://soutenir.framasoft.org/monetico/before_paiement_2828136.php`);

          this.addFormField(form, 'nom', this.form.lastname);
          this.addFormField(form, 'prenom', this.form.firstname);
          this.addFormField(form, 'mail', this.form.email);
          this.addFormField(form, 'adresse1', this.form.address1);
          this.addFormField(form, 'adresse2', this.form.address2);
          this.addFormField(form, 'ville', this.form.city);
          this.addFormField(form, 'cp', this.form.zip);
          this.addFormField(form, 'pays', this.$root.country[this.form.country]);
          this.addFormField(form, 'montant', this.form.don);
          this.addFormField(form, 'texte_libre', encodeURIComponent(custom.join('&')));

          document.body.appendChild(form);
          form.submit();
          break;
        // Paypal
        case 'pp':
          const url = [
            'https://www.paypal.com/cgi-bin/webscr?'
          ];

          url.push(
            'cmd=_donations',
            `&amount=${this.form.don}`,
            `&item_name=${encodeURIComponent('Framasoft (don ponctuel)')}`,
            '&business=6HSVUPKRDAGC2', // Framasoft Paypal ID
            `&return=${encodeURIComponent(this.$root.baseurl + '/thank-you/')}`,
            '&currency_code=EUR',
            '&address_override=1', // Prefill Paypal’s form
            '&charset=utf-8',
            `&last_name=${encodeURIComponent(this.form.lastname)}`,
            `&first_name=${encodeURIComponent(this.form.firstname)}`,
            `&email=${encodeURIComponent(this.form.email)}`,
            `&address1=${encodeURIComponent(this.form.address1)}`,
            `&address2=${encodeURIComponent(this.form.address2)}`,
            `&zip=${encodeURIComponent(this.form.zip)}`,
            `&city=${encodeURIComponent(this.form.city)}`,
            `&country=${this.form.country}`,
            `&custom=${encodeURIComponent(custom.join('&'))}`,
          );
          this.form.pay_send = url.join('');
          window.location.href = this.form.pay_send;
          break;

        // no-default
      }
      e.preventDefault();
    },
    thankYou() {
      window.location.href = `${this.$root.baseurl}/thank-you/`;
    },
  },
}
</script>
