<template>
  <main>
    <vue-headful
      :title="$t('meta.title') + ' - ' + $t('medias.title')"
    />
    <section class="clearfix">
      <div class="container">
        <h2 class="text-center">{{ $t('medias.title') }}</h2>
        <span>{{ $t('medias.subtitle') }}</span>
        <p></p>
      </div>
    </section>
  </main>
</template>

