<template>
  <section>
    <b-container id="allocation">
      <b-row>
        <b-col lg="4">
          <h3 v-html="$t('home.allocation.title')"></h3>
          <p v-html="$t('home.allocation.intro[0]')"></p>
          <p v-html="$t('home.allocation.intro[1]')"></p>
        </b-col>
        <b-col lg="8">
          <b-card
            v-for="(palier, i) in steps" :key="i"
            v-show="i === active"
            >
            <b-card-body>
            <h4>
              <span v-html="$t('home.allocation.if')"></span>
              <b-dropdown right :text="EUR(steps[i])" variant="outline-secondary">
                <b-dropdown-item v-for="(step, j in steps" :key="j"
                  @click="active = j"
                >
                  {{ EUR(steps[j]) }}
                </b-dropdown-item>
              </b-dropdown>
            </h4>
            <p class="text-center">
              <Chart :palier="i + 1" />
            </p>
            <p v-html="$t(`home.allocation.steps[${i}]`)"></p>
            </b-card-body>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>

<script>
import Chart from '../../partials/Chart.vue';

export default {
  components: {
    Chart,
  },
  props: {
    steps: {
      type: Array,
      required: true,
    },
    active: {
      type: Number,
      required: true,
    }
  },
  methods: {
    EUR(number) {
      return new Intl
        .NumberFormat(this.$i18n.locale, { style: 'currency', currency: 'EUR', minimumSignificantDigits: 1 })
        .format(Number.parseFloat(number).toFixed(2));
    },
  }
}
</script>
