<template>
  <div id="team">
    <h3 v-html="$t('home.team.title')"></h3>
    <p class="text-center">
      <img
        :src="`${$root['/']}img/biglogo-notxt.png`"
        class="rounded-circle"
      />
    </p>
    <p
      v-for="(text, index) in $t('home.donation.texts')"
      :key="index"
      v-html="$t(`home.donation.texts[${index}]`)"
    ></p>
    <p><a :href="$root.link.soft" v-html="$t('home.team.more')"></a></p>

    <h4 v-html="$t('home.team.guests.title')"></h4>
    <p v-html="$t('home.team.guests.intro')"></p>
    <b-card v-for="(member, key, index) of $root.members" :key="key">
      <b-card-body>
        <h4 v-html="member.name"></h4>
        <img
          :src="`${$root['/']}img/${key}.jpg`"
          :class="`rounded-circle pull-${index % 2 ? 'left' : 'right'}`"
          alt=""
        />
        <p v-html="$t(`home.team.members.${key}.desc`)"></p>
        <p><a :href="`//${member.domain}`">{{ member.domain }}</a></p>
      </b-card-body>
    </b-card>
  </div>
</template>
