<template>
  <ul class="list-inline share-follow">
    <li class="newsletter">
      <a rel="nofollow" class="btn"
        href="https://framalistes.org/sympa/info/mobilizon-newsletter"
        :title="$t('home.funding.news')"
      >
        <i class="fa fa-fw fa-lg fa-envelope" aria-hidden="true"></i>
        <span class="sr-only" v-html="$t('home.funding.news-alt')"></span>
      </a>
    </li>
    <li class="mastodon" v-if="mastodon !== ''">
      <a target="_blank" rel="noopener noreferrer nofollow" class="btn"
        :href="mastodon"
        :title="`${$t('merci.shareOn')} Mastodon`"
      >
        <i class="fa fa-fw fa-lg fa-mastodon" aria-hidden="true"></i>
        <span class="sr-only">Mastodon</span>
      </a>
    </li>
    <li class="diaspora">
      <a target="_blank" rel="noopener noreferrer nofollow" class="btn"
        :href="diaspora.join('')"
        :title="`${$t('merci.shareOn')} Diaspora`"
      >
        <i class="fa fa-fw fa-lg fa-diaspora" aria-hidden="true"></i>
        <span class="sr-only">Diaspora</span>
      </a>
    </li>
    <li class="twitter">
      <a target="_blank" rel="noopener noreferrer nofollow" class="btn"
        :href="twitter.join('')"
        :title="`${$t('merci.shareOn')} Twitter`"
      >
        <i class="fa fa-fw fa-lg fa-twitter" aria-hidden="true"></i>
        <span class="sr-only">Twitter</span>
      </a>
    </li>
    <li class="facebook">
      <a target="_blank" rel="noopener noreferrer nofollow" class="btn"
        :href="facebook.join('')"
        :title="`${$t('merci.shareOn')} Facebook`"
      >
        <i class="fa fa-fw fa-lg fa-facebook" aria-hidden="true"></i>
        <span class="sr-only">Facebook</span>
      </a>
    </li>
    <li class="reddit">
      <a target="_blank" rel="noopener noreferrer nofollow" class="btn"
        :href="reddit"
        :title="`${$t('merci.followOn')} Reddit`"
      >
        <i class="fa fa-fw fa-lg fa-reddit" aria-hidden="true"></i>
        <span class="sr-only">Reddit</span>
      </a>
    </li>
  </ul>
</template>

<script>
export default {
  data() {
    const picture = `${this.$root.link.joinmobilizon}/img/${this.$route.meta.lang}/support-mobilizon.png`;
    const link = `${this.$root.link.joinmobilizon}/${this.$route.meta.lang}`;
    const text = this.$t('merci.share');
    const title = this.$t('merci.shareTitle');

    return {
      mastodon: '', // Todo add pouet link
      diaspora: [
        'https://share.diasporafoundation.org/',
        `?title=${encodeURIComponent(text)}`,
        `&amp;url=${link}`,
      ],
      twitter: [
        'https://twitter.com/intent/tweet',
        `?text=${encodeURIComponent(text)} ${link}`,
      ],
      facebook: [
        'https://www.facebook.com/sharer/sharer.php',
        `?u=${encodeURIComponent(link)}`,
        `&amp;picture=${encodeURIComponent(picture)}`,
        `&amp;title=${encodeURIComponent(title)}`,
        `&amp;description=${encodeURIComponent(text)}`,
      ],
      reddit: 'https://www.reddit.com/r/Mobilizon',
    }
  },
}
</script>
