<template>
  <article>
    <div v-for="(text, tag) in $t(section)">
      <div class="alert alert-info"
        v-if="/^alert/.test(tag)"
        v-html="$t(`${section}.${tag}`)"
      ></div>
      <h4
        v-if="/^h4/.test(tag)"
        v-html="$t(`${section}.${tag}`)"
      ></h4>
      <p
        v-if="/^p/.test(tag)"
        v-for="(item, p) in $t(`${section}.${tag}`)"
        v-html="$t(`${section}.${tag}[${p}]`)"
      ></p>
      <ul v-if="/^ul/.test(tag)">
        <li
          v-for="(item, li) in $t(`${section}.${tag}`)"
          v-html="$t(`${section}.${tag}[${li}]`)"
        ></li>
      </ul>
      <ol v-if="/^ol/.test(tag)">
        <li
          v-for="(item, li) in $t(`${section}.${tag}`)"
          v-html="$t(`${section}.${tag}[${li}]`)"
        ></li>
      </ol>
      <blockquote
        v-if="/^blockquote/.test(tag)"
        v-for="(item, bq) in $t(`${section}.${tag}`)"
        v-html="$t(`${section}.${tag}[${bq}]`)"
      ></blockquote>
    </div>
  </article>
</template>

<script>
export default {
  props: {
    section: {
      type: String,
      required: true,
    },
  },
};
</script>
